* {
  box-sizing: border-box;
}
body {
  background-image: url('./assets/wood_pattern.png');
}
.container {
  padding: 75px 0 60px 0;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 60px;
}
.inputSection {
  margin-left: 5%;
}
.title {
  font-family: 'Pacifico', cursive;
  margin: 0.6em 0 0.7em 126px;
  font-size: 36pt;
  color: #1995E8;
}
.scoreInput {
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #00FF58;
  margin: 0 10px;
  line-height: 2;
  color: #00CC47;
}
.scoreInput:focus {
  outline: none;
}
.score {
  font-family: 'Abril Fatface', cursive;
  line-height: 1;
  margin: .25em 0 0 80px;
  color: #A319E8;
}
.scoreSubmit {
  border-radius: 30px;
  background-color: #FF2777;
  color: #ffffff;
  border: 1px solid #FF2777;
}
.scoreSubmit:focus {
  outline: none;
}
.scoreSubmit:hover {
  background-color: #DE1E5B;
  color: #ffffff;
  border: 1px solid #DE1E5B;
}
