* {
  box-sizing: border-box;
}
.container {
  padding: 0 5%;
}
.inputSection {
  margin-left: 5%;
}
.title {
  font-family: 'Pacifico', cursive;
  margin: .3em 0 .5em .8em;
  font-size: 28pt;
}
.scoreInput {
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  text-align: center;
  border-radius: 25px;
  border: 1px solid black;
  margin-right: 10px;
}
.score {
  font-family: 'Abril Fatface', cursive;
  line-height: 1;
  margin: .25em 0 0 1.3em;
}
.scoreSubmit {
  border-radius: 30px;
  border: 1px solid #111111;
  background-color: #ffffff;
}
.scoreSubmit:focus {
  outline: none;
}
.scoreSubmit:hover {
  background-color: #111111;
  color: #ffffff;
}
